header {
    position: sticky;
    top: 0;
}
div.banner {
    font-family: var(--default-font-family);
    padding: 1rem;
    border-bottom: 1px solid var(--button-border-color);
    background-color: var(--header-bg);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

h2.banner-title {
    margin: 0;
}