a {
    font-family: var(--default-font-family);
    max-width: 20rem;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #020d19;
    background-color: #f1f5ff;
    text-align: center;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: var(--th-bg);
}