:root {
    --col_sel_selected_column_bg: #94a3b8;
    --col_sel_hovered_column_bg: #cbd5e1;
}

.col_sel_selected_column {
    background-color: var(--col_sel_selected_column_bg);
}

.col_sel_hovered_column {
    background-color: var(--col_sel_hovered_column_bg);
}