body {
    margin: 0;
    position: absolute;
    inset: 0;
    font-family: var(--default-font-family);
}
:root {
    --default-font-family: "Avenir", "Helvetica Neue", Helvetica, Arial;
    --button-hover-bg: #cbd5e1;
    --button-bg: #f1f5ff;
    --button-border-color: #020d19;
}
div.links-descr-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}