:root {
    --default-font-family: "Avenir", "Helvetica Neue", Helvetica, Arial;
}
div.results_container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;  
    gap: 1rem;
}
.container {
    display: block;
    overflow: auto;
}
.results_container h1 {
    font-family: var(--default-font-family);
}
.result {
    margin: 0;
    overflow: hidden;
    overflow-x: auto;
}
.result h2 {
    font-family: var(--default-font-family);
}
.result_table {
    overflow: hidden;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}