:root {
	--th-bg: #e2e8f0;
	--tr-bottom-border-color: #64748b;
	--tr-bottom-border-weight: 2px;
	--default-font-family: "Avenir", "Helvetica Neue", Helvetica, Arial;
}
.table_name {
	font-family: var(--default-font-family);
	padding: 0.5rem 0.75rem;
	background-color: var(--th-bg);
	position: relative;
	align-self: flex-start;
}
div.table_div {
	overflow: auto;
	border: 1px solid rgb(228, 228, 231);
	border-radius: 5px;
	padding: 0.5rem;
}
label.table_preview_label {
	font-family: var(--default-font-family);
	padding-left: 0.5rem;
}

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
table.preview {
	font-size: 0.5rem;
}
th {
	background-color: var(--button-bg);
}
table.preview th {
	background-color: var(--th-bg);
}
th,
td {
	padding: 1rem 0.5rem;
}
table.preview th,
table.preview td {
	padding: 0.5rem 0.25rem;
}
div.table_div tr:hover {
	background-color: rgba(244, 244, 245, 0.5);
}
tbody tr {
	border-bottom: 1px dashed var(--tr-bottom-border-color);
}
tbody tr:last-child {
	border-bottom: none;
}
thead tr {
	position: sticky;
	top: 0;
}
thead tr::after {
	position: absolute;
	left: 0;
	width: 100%;
	border-top: var(--tr-bottom-border-weight) solid var(--tr-bottom-border-color);
	content: "";
	bottom: calc(var(--tr-bottom-border-weight) * -1);
}
