:root {
    --th-bg: #e2e8f0;
    --button-hover-bg: #cbd5e1;
}
div.table-checkbox-and-button {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}
.table_select {
    display: flex;
    overflow: auto;
}
.table_select_button {
    padding: 0.25rem;
}
.table_select_button:hover {
    background-color: var(--th-bg);
}
.table_select_button_selected {
    background-color: var(--th-bg);
}
.table_select_full_table {
    overflow: hidden;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}
div.table_select_full_table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button.hide_full_table_button {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: max-content;
}
.confirm_table_choice {
    margin-top: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: max-content;
}