<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approvals for {{ stage_name }}</title>
    <script src="/static/approvals.js" async></script>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/approval_page.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/button-a.css" />
    <link rel="stylesheet" href="/styles/button.css" />
    <link rel="stylesheet" href="/styles/banner.css" />
</head>
<body>
    <header>
        <div class="banner">
            <h2 class="banner-title">Approvals for: {{ stage_name }}</h2>
            <a href="/">Main menu</a>
        </div>
    </header>
    <form action="{{ form_action }}" method="{{ form_method }}" enctype="{{  form_enctype }}" class="approval_form">
    {% if approve_results|length > 0 %}
    {% for approve_result in approve_results %}
    {% if approve_result.approve_result_type == ApproveResultType.TABLE_DELETION %}
    <div class="approve_result">
        <h3>Approve deletion of table {{ approve_result.table_name }}?</h3>
        <div class="table_div">
            <table>
                <thead>
                    <tr>
                        <th>Approve</th>
                        <th>Reject</th>
                        <th>Pending</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>
                                ✓
                                <input type="radio" name="approve_{{ approve_result.id }}" value="approve">
                            </label>
                        </td>
                        <td>
                            <label>
                                ✘
                                <input type="radio" name="approve_{{ approve_result.id }}" value="reject">
                            </label>
                        </td>
                        <td>
                            <label>
                                ?
                                <input type="radio" name="approve_{{ approve_result.id }}" value="pending" checked>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table_div">
            {{ approve_result.dataframe_html }}
        </div>
    </div>
    {% elif approve_result.approve_result_type == ApproveResultType.TABLE or approve_result.approve_result_type == ApproveResultType.TABLE_SCHEMA_CHANGE %}
    <div class="approve_result">
        <h3>
            {% if approve_result.approve_result_type == ApproveResultType.TABLE %}
            Select rows to approve for {{ approve_result.table_name }}
            {% elif approve_result.approve_result_type == ApproveResultType.TABLE_SCHEMA_CHANGE %}
            Select rows with new column values to approve for {{ approve_result.table_name }}
            {% endif %}
        </h3>
        <div class="batch-op-buttons">
            <button type="button" onclick="approveAll()">
                Approve all
            </button>
            <br>
            <button type="button" onclick="rejectAll()">
                Reject all
            </button>
            <br>
            <button type="button" onclick="pendAll()">
                Set all to pending
            </button>
        </div>
        <div class="table_div">
            <table>
                <thead>
                    <tr>
                        <th>Approve</th>
                        <th>Reject</th>
                        <th>Pending</th>
                        {% for column_name in approve_result.column_names %}
                        <th {% if column_name in approve_result.cols_added %} class="added_value"{% endif %}>
                            {{ column_name }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in approve_result.dataframe.iterrows() %}
                    <tr>
                        <td>
                            <label>
                                ✓
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="approve">
                            </label>
                        </td>
                        <td>
                            <label>
                                ✘
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="reject">
                            </label>
                        </td>
                        <td>
                            <label>
                                ?
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="pending" checked>
                            </label>
                        </td>
                        {% for column_name in approve_result.column_names %}
                        <td{% if column_name in approve_result.cols_added %} class="added_value"{% endif %}>
                            {{ row[column_name] }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% elif approve_result.approve_result_type == ApproveResultType.TABLE_ROW_ADDITION %}
    <div class="approve_result">
        <h3>Approve addition of rows to {{ approve_result.table_name }}?</h3>
        <div class="batch-op-buttons">
            <button type="button" onclick="approveAll()">
                Approve all
            </button>
            <br>
            <button type="button" onclick="rejectAll()">
                Reject all
            </button>
            <br>
            <button type="button" onclick="pendAll()">
                Set all to pending
            </button>
        </div>
        <div class="table_div">
            <table>
                <thead>
                    <tr>
                        <th>Approve</th>
                        <th>Reject</th>
                        <th style="border-right: 1px dashed #64748b;">Pending</th>
                        {% for column_name in approve_result.column_names %}
                        <th>
                            {{ column_name }}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in approve_result.dataframe.iterrows() %}
                    <tr{% if index in approve_result.rows_added %} class="added_value"{% endif %}>
                        {% if index in approve_result.rows_added %}
                        <td>
                            <label>
                                ✓
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="approve">
                            </label>
                        </td>
                        <td>
                            <label>
                                ✘
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="reject">
                            </label>
                        </td>
                        <td style="border-right: 1px dashed #64748b;">
                            <label>
                                ?
                                <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="pending" checked>
                            </label>
                        </td>
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        <td style="border-right: 1px dashed #64748b;">-</td>
                        {% endif %}
                        {% for column_name in approve_result.column_names %}
                        <td>
                            {{ row[column_name] }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h1>No results to approve. Press submit to see all results.</h1>
    {% endif %}
    <button type="submit">Submit approval choices</button>
    </form>
</body>
</html>