<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approvals for {{ stage_name }}</title>
    <script src="/static/approvals.js" async></script>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/approval_page.css">
    <link rel="stylesheet" href="/styles/table.css">
</head>
<body>
    <form action="{{ form_action }}" method="{{ form_method }}" enctype="{{  form_enctype }}" class="approval_form">
    <input type="submit" value="Submit">
    {% if approve_results|length > 0 %}
    {% for approve_result in approve_results %}
    {% if approve_result.approve_result_type == ApproveResultType.TABLE_DELETION %}
    <div class="approve_result">
        <h1>Approve deletion of table {{ approve_result.table_name }}?</h1>
        <table>
            <thead>
                <tr>
                    <th>Approve</th>
                    <th>Reject</th>
                    <th>Pending</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>
                            ✓
                            <input type="radio" name="approve_{{ approve_result.id }}" value="approve">
                        </label>
                    </td>
                    <td>
                        <label>
                            ✘
                            <input type="radio" name="approve_{{ approve_result.id }}" value="reject">
                        </label>
                    </td>
                    <td>
                        <label>
                            ?
                            <input type="radio" name="approve_{{ approve_result.id }}" value="pending" checked>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        {{ approve_result.dataframe_html }}
    </div>
    {% elif approve_result.approve_result_type == ApproveResultType.TABLE or approve_result.approve_result_type == ApproveResultType.TABLE_SCHEMA_CHANGE %}
    <div class="approve_result">
        <h1>
            {% if approve_result.approve_result_type == ApproveResultType.TABLE %}
            Select rows to approve for {{ approve_result.table_name }}
            {% elif approve_result.approve_result_type == ApproveResultType.TABLE_SCHEMA_CHANGE %}
            Select rows with new column values to approve for {{ approve_result.table_name }}
            {% endif %}
        </h1>
        <h2> Batch operations: </h2>
        <h3>
            <button type="button" onclick="approveAll()">
                Approve all
            </button>
            <br>
            <button type="button" onclick="rejectAll()">
                Reject all
            </button>
            <br>
            <button type="button" onclick="pendAll()">
                Set all to pending
            </button>
        </h3>
        <table>
            <thead>
                <tr>
                    <th>Approve</th>
                    <th>Reject</th>
                    <th>Pending</th>
                    {% for column_name in approve_result.column_names %}
                    <th{% if column_name in approve_result.cols_added %} class="added_value"{% endif %}>
                        {{ column_name }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in approve_result.dataframe.iterrows() %}
                <tr>
                    <td>
                        <label>
                            ✓
                            <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="approve">
                        </label>
                    </td>
                    <td>
                        <label>
                            ✘
                            <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="reject">
                        </label>
                    </td>
                    <td>
                        <label>
                            ?
                            <input type="radio" name="approve_{{ approve_result.id }}_{{ index }}" class="input" value="pending" checked>
                        </label>
                    </td>
                    {% for column_name in approve_result.column_names %}
                    <td{% if column_name in approve_result.cols_added %} class="added_value"{% endif %}>
                        {{ row[column_name] }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <h1>No results to approve. Press submit to see all results.</h1>
    {% endif %}
    <input type="submit" value="Submit" style="margin-top: 0.5rem">
    </form>
</body>
</html>