<script src="/static/table_selector.js" async></script>
<div class="column_select_table_select stack-h" id="{{ component_id }}">
    {% for table in tables %}
    <button class="table_select_button" type="button" onclick="show_table('{{ table["name"] }}', '{{ component_id }}')">
        <table class="preview">
            <thead>
                <tr>
                {% for col in table["cols"][:num_preview_cols] %}
                    <th>{{ col }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in table["rows"][:num_preview_rows] %}
                <tr>
                    {% for col in table["cols"][:num_preview_cols] %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </button>
    {% endfor %}
</div>