<script src="/static/column_selector.js" async></script>
<div class="component stack-v" id="component_{{ component_id }}">
    <input id="input_{{ component_id }}_table_name" hidden="hidden" name="{{ component_id }}">
    <p>{{ label }}</p>
    <p id="col_sel_selected_table_{{ component_id }}" hidden="hidden"></p>
    <p id="col_sel_selected_columns_{{ component_id }}" hidden="hidden"></p>
    <p style="color: 240 3.8% 46.1%; font-size: .8rem;">To pick columns, choose a table, and then click the desired columns to select them.</p>
    {% if tables|length == 0 %}
    <p>No tables to choose from. Have you uploaded any tables yet?</p>
    {% else %}
    <div class="table_select stack-h" id="table_select_{{ component_id }}">
        {% for table in tables %}
        <div id="table_select_{{ component_id }}_table_{{ table["transient_id"] }}" class="table-checkbox-and-button">
            <div style="display: flex;">
                <label class="table_preview_label" for="table_preview_checkbox_{{ table["name"] }}_{{ component_id }}">{{ table["name"] }}</label>
            </div>
            <button class="table_select_button" type="button" onclick="col_sel_show_table('{{ table["name"] }}', '{{ component_id }}', '{{ context }}', '{{ table["transient_id"] }}')">
                <table class="preview">
                    <thead>
                        <tr>
                        {% for col in table["cols"][:num_preview_cols] %}
                            <th>{{ col }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for _, row in table["rows"].iterrows() %}
                        <tr>
                            {% for col in table["cols"][:num_preview_cols] %}
                            <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>