<html lang="en">
	<head>
		<title>List of stages</title>
		<script src="/static/support.js"></script>
		<link rel="stylesheet" href="/styles/reset.css" />
		<link rel="stylesheet" href="/styles/landing_page.css" />
		<link rel="stylesheet" href="/styles/button-a.css" />
		<link rel="stylesheet" href="/styles/banner.css" />
	</head>
	<body>
		<header>
			<div class="banner">
				<h2 class="banner-title">{{ tool_name }}</h2>
			</div>
		</header>
		<div
			style="
				padding: 1rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			"
		>
			<div
				style="
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					align-items: flex-start;
					width: 50%;
				"
			>
				<h3 style="margin: 0">Pick a Stage to navigate to:</h3>

				{% for stage in stages %}
				<a href="{{ stage.url }}">{{ stage.name }}</a>
				{% endfor %}
			</div>
			<p style="width: 50%; margin: 0">
				{% for line in description_lines %} {{line}} <br />
				{% endfor %}
			</p>
		</div>
	</body>
</html>
