<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/reset.css" />
		<link rel="stylesheet" href="/styles/table.css" />
		<link rel="stylesheet" href="/styles/table_selector.css" />
		<link rel="stylesheet" href="/styles/column_selector.css" />
		<link rel="stylesheet" href="/styles/util.css" />
		<link rel="stylesheet" href="/styles/stage.css" />
		<link rel="stylesheet" href="/styles/button-a.css" />
		<link rel="stylesheet" href="/styles/button.css" />
		<link rel="stylesheet" href="/styles/banner.css" />
		<meta charset="UTF-8" />
		<title>{{ stage_name }}</title>
	</head>
	<body>
		<header>
			<div class="banner">
				<h2 class="banner-title">Stage: {{ stage_name }}</h2>
				<a href="/">Main menu</a>
			</div>
		</header>
		<form
			action="{{ form_action }}"
			method="{{ form_method }}"
			enctype="multipart/form-data"
		>
			{% for component in component_list %} {{ component }} {% endfor %}
		</form>
	</body>
</html>
