<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/reset.css" />
		<link rel="stylesheet" href="/styles/table.css" />
		<link rel="stylesheet" href="/styles/table_selector.css" />
		<link rel="stylesheet" href="/styles/column_selector.css" />
		<link rel="stylesheet" href="/styles/util.css" />
		<link rel="stylesheet" href="/styles/stage.css" />
		<link rel="stylesheet" href="/styles/button-a.css" />
		<link rel="stylesheet" href="/styles/button.css" />
		<link rel="stylesheet" href="/styles/banner.css" />
		<link rel="stylesheet" href="/styles/embed.css" />
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"
		/>
		<meta charset="UTF-8" />
		<title>{{ stage_name }}</title>
	</head>
	<body>
		<script src="/static/table_selector.js" async></script>
		<script src="/static/column_selector.js" async></script>
		<script src="/static/user_input_component.js" async></script>
		<script
			src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
			integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
		<header>
			<div class="banner">
				<h2 class="banner-title">Stage: {{ stage_name }}</h2>
				<a href="/">Main menu</a>
			</div>
		</header>
		<div class="stage-container">
			<form
				action="{{ form_action }}"
				method="{{ form_method }}"
				enctype="multipart/form-data"
			>
				{% for component in component_list %} {{ component }} {% endfor %}
			</form>
			<p style="width: 39%; margin: 0; position: sticky; top: 78px">
				{{ description }}
			</p>
		</div>
	</body>
</html>
