<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/support.js"></script>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/table.css">
    <link rel="stylesheet" href="/styles/column_selector.css">
    <link rel="stylesheet" href="/styles/util.css">
    <meta charset="UTF-8">
    <title>{{ stage_name }}</title>
</head>
<body>
<form action="{{ form_action }}" method="{{ form_method }}" enctype="multipart/form-data">
    {% for component in component_list %}
        {{ component }}
    {% endfor %}
</form>
</body>
</html>