<script src="/static/table_selector.js" async></script>
<div class="component stack-v" id="component_{{ component_id }}">
    <input id="input_{{ component_id }}" hidden="hidden" name="{{ component_id }}">
    <div class="table_select stack-h" id="table_select_{{ component_id }}">
        {% for table in tables %}
        <div id="table_select_{{ component_id }}_table_{{ table["transient_id"] }}">
            <div style="display: flex;">
                <input type="checkbox" class="table_preview_checkbox" id="table_preview_checkbox_{{ table["transient_id"] }}_{{ component_id }}">
                <label for="table_preview_checkbox_{{ table["name"] }}_{{ component_id }}">{{ table["name"] }}</label>
            </div>
            <button class="table_select_button" type="button" onclick="show_table('{{ table["name"] }}', '{{ component_id }}', '{{ context }}', '{{ table["transient_id"] }}')">
                <table class="preview">
                    <thead>
                        <tr>
                        {% for col in table["cols"][:num_preview_cols] %}
                            <th>{{ col }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in table["rows"][:num_preview_rows] %}
                        <tr>
                            {% for col in table["cols"][:num_preview_cols] %}
                            <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </button>
        </div>
        {% endfor %}
    </div>
</div>